@use "../utils/mixins" as *;
@use "../base/variables" as *;

#hero {
  position: relative;
  max-width: 2560px;
}

.social-svg {
  z-index: 11111;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 0.25rem;
  fill: #ffffff;
  transition: all 0.5s ease-in-out;

  &:hover {
    fill: #ff0000;
  }

  img {
    width: 1.5rem;
  }

  .linked-in {
    padding: 0.1rem;
  }
}

.hero-line {
  width: 100%;
  padding: 0.25rem;
}

.hero-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  .time-location {
    font-size: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #ffffff;
    margin: 0;
    padding: 0.5rem 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
  }

  Canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  .hero-wrap {
    position: relative;
    .sub-text {
      font-size: 0.8rem;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      color: #ffffff;
      margin: 0;
      padding: 1rem;
      position: absolute;
      top: -1.5rem;
      left: 0;
    }
    .sub-text-two {
      font-size: 0.8rem;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      color: #ffffff;
      margin: 0;
      padding: 1rem;
      position: absolute;
      bottom: -1.5rem;
      right: 0;
    }
    .sub-text,
    .sub-text-two {
      animation: flicker 0.5s alternate 2;
    }

    @keyframes flicker {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  @media (min-width: 48em) {
    .hero-wrap {
      .sub-text,
      .sub-text-two {
        font-size: 0.75rem;
        padding: 1rem 1.5rem;
      }
    }
  }

  @media (min-width: 160rem) {
    .hero-wrap {
      .sub-text,
      .sub-text-two {
        font-size: 1.25rem;
        padding: 2rem 2.5rem;
      }
    }

    .hero-title {
      font-size: 16rem;
    }

    .topleft-border,
    .bottomright-border {
      width: 2rem;
      height: 2rem;
    }
  }

  .hero-title {
    font-size: 3.6rem;
    line-height: 0.7;
    text-align: left;
    padding: 1rem;
    margin: 0;
    user-select: text;
    color: transparent;

    span {
      opacity: 0;
    }
  }

  @media (min-width: 48em) {
    .hero-title {
      font-size: 7rem;
    }
  }

  @media (min-width: 64em) {
    .hero-title {
      font-size: 26em;
    }
  }

  .topleft-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.75rem;
    height: 0.75rem;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
  }

  .bottomright-border {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.75rem;
    height: 0.75rem;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }

  @media (min-width: 48em) {
    .topleft-border,
    .bottomright-border {
      width: 1rem;
      height: 1rem;
    }
  }

  @media (min-width: 64em) {
    .topleft-border,
    .bottomright-border {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  @media (min-width: 3840px) {
    .hero-wrap {
      .sub-text,
      .sub-text-two {
        font-size: 2rem;
        padding: 3rem 3.5rem;
      }
    }

    .hero-title {
      font-size: 26rem;
    }

    .topleft-border,
    .bottomright-border {
      width: 3rem;
      height: 3rem;
    }
  }
}
