@use "../utils/mixins" as *;
@use "../base/variables" as *;

.mission-statement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 0;
  color: #ffffff;
  padding: 0.25rem 0.5rem;

  .creativity {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0.2rem;
  }

  .precision {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0.2rem;
  }
}
