body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b0b0b;
  color: #fff;
}

.color-boxes {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 0.5rem;
  z-index: 100;

  .color-box {
    width: 1rem;
    height: 1rem;
    margin: 0;
    padding: 0;
  }

  .color-box-one {
    background-color: #ff5f55; // Red
  }

  .color-box-two {
    background-color: #ffc74f; // Green
  }

  .color-box-three {
    background-color: #69e379; // Blue
  }

  .color-box-four {
    background-color: #2f67ff; // Yellow
  }
  .color-box-five {
    background-color: #0000fb; // Yellow
  }
}
